.button {
  margin-left: 47%;
  border: 4px black solid;
  border-radius: 5px;
  align-content: center;
  align-items: center;
  align-self: center;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  }
  
  li {
    list-style-type: none;
  }
  
  .loadingGif {
    margin-left: 42%;
    margin-top: 4%;
    font-family: "Courier New", Courier, monospace;
  }
  
  .SubjectField {
    margin-bottom: 5px;
  }
  .EmailField {
    margin-bottom: 5px;
  }
  .AddressField {
    margin-bottom: 7px;
  }
  .NameField {
    margin-bottom: 5px;
  }
  